@page
@model Lingzu.Pages.SignUp.DetalleFacturaModel

@{
    ViewData["Title"] = "DetalleFactura";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card rounded shadow">
                <div class="card-header bg-dark text-light text-center">
                    <h3 class="mb-0">
                        <i class="fas fa-shopping-cart"></i> Detalle de la Venta
                    </h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label class="font-weight-bold">ID del Cliente</label>
                            <input class="form-control" value="@Model.idClienteRegistrado" readonly />
                        </div>

                        <div class="form-group">
                            <label class="font-weight-bold">Nombre del Producto</label>
                            <input class="form-control" value="@Model.nombreProducto" readonly />
                        </div>

                        <div class="form-group">
                            <label class="font-weight-bold">Precio del Producto</label>
                            <input class="form-control" value="@Model.precioProducto" readonly />
                        </div>

                        <div class="form-group">
                            <label class="font-weight-bold">Cantidad del Producto</label>
                            <input class="form-control" value="@Model.cantidadProducto" readonly />
                        </div>

                        <div class="form-group">
                            <label asp-for="Venta.Fecha" class="font-weight-bold">Fecha</label>
                            <input type="date" class="form-control" />
                        </div>


                        <div class="form-group">
                            <label asp-for="Venta.NumeroVenta" class="font-weight-bold">Número de Factura</label>
                            <input asp-for="Venta.NumeroVenta" class="form-control" />
                            <span asp-validation-for="Venta.NumeroVenta" class="text-danger"></span>
                        </div>

                        <div class="form-group mt-2">
                            <button type="submit" class="btn btn-success ml-2 w-100">Registrar Venta</button>
                        </div>
                        <div class="form-group mt-2">
                            <a asp-page="Index" class="btn btn-secondary ml-2 w-100">
                                <i class="fas fa-arrow-left"></i> Volver a la Lista
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}