@page
@model Lingzu.Pages.Productos.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card rounded shadow">
                <div class="card-header bg-dark text-light text-center">
                    <h3 class="mb-0">
                        <i class="fas fa-trash-alt"></i> Borrar Registro
                    </h3>
                </div>
                <div class="card-body">
                    <h4 class="card-title">¿Estás seguro de que deseas eliminar este registro?</h4>
                    <hr />
                    <h4 class="card-title">Producto</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">Nombre</dt>
                        <dd class="col-sm-10">@Html.DisplayFor(model => model.Producto.NombreProducto)</dd>
                        <dt class="col-sm-2">Precio</dt>
                        <dd class="col-sm-10">@Html.DisplayFor(model => model.Producto.PrecioProducto)</dd>
                        <dt class="col-sm-2">Cantidad</dt>
                        <dd class="col-sm-10">@Html.DisplayFor(model => model.Producto.CantidadProducto)</dd>
                    </dl>
                </div>
                <div class="card-footer text-center">
                    <form method="post">
                        <input type="hidden" asp-for="Producto.ProductoId" />
                        <button type="submit" class="btn btn-danger">
                            <i class="fas fa-trash-alt"></i> Eliminar
                        </button>
                        <a asp-page="./Index" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> Volver a la Lista
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>