@page
@model Lingzu.Pages.Ventas.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card rounded shadow">
                <div class="card-header bg-dark text-light text-center">
                    <h3 class="mb-0">
                        <i class="fas fa-trash"></i> Borrar Venta
                    </h3>
                </div>
                <div class="card-body">
                    <h4 class="card-title">¿Estás seguro?</h4>
                    <hr />
                    <h4 class="card-title">Venta</h4>
                    <hr />
                    <dl class="row">
                        <dd class="col-sm-12 mb-4">
                            <b>Fecha:</b> @Html.DisplayFor(model => model.Venta.Fecha)
                        </dd>
                        <dd class="col-sm-12 mb-4">
                            <b>Número de Factura:</b> @Html.DisplayFor(model => model.Venta.NumeroVenta)
                        </dd>

                        <dt class="col-sm-2">
                            Cliente:
                        </dt>
                        <dd class="col-sm-10">
                            @if (Model.Venta.Cliente != null)
                            {
                                @($"{Model.Venta.Cliente.ApellidoP}, {Model.Venta.Cliente.Nombre}")
                            }
                        </dd>
                    </dl>

                </div>
                <div class="card-footer text-center">
                    <form method="post">
                        <input type="hidden" asp-for="Venta.VentaId" />
                        <button type="submit" class="btn btn-danger">
                            <i class="fas fa-trash"></i> Eliminar
                        </button>
                        <a asp-page="./Index" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> Volver a la Lista
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}