html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #AAB7B8;
}

/*Cambios Nuevos*/
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}



section {
    float: right;
    display: flex;
    width: 380px;
    height: 230px;
}

section img {
        width: 0px;
        flex-grow: 1;
        object-fit: cover;
        opacity: .8;
        transition: .5s ease;
}

 section img:hover {
            cursor: crosshair;
            width: 150px;
            opacity: 1;
            filter: contrast(120%)
 }

.seccion2 {
    float: left;
}

.circulo {
    width: 220px;
    height: 220px;
    float: right;
}

/*Imagen centro*/

.conter {
    position: relative;
    width: 140px; /* Ajusta el ancho al tamaño del círculo SVG */
    height: 140px; /* Ajusta el alto al tamaño del círculo SVG */
}

.redondo {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 100px;
    width: 100%;
    height: 100%;
    object-fit: cover; /* ajusta el tamaño de la imagen */
    border-radius: 100%; 
}
.TituloContactos {
    text-align: center; /* Centro el texto */
    color: #E67E22; /* Color de texto negro oscuro */
    font-size: 100px; /* Tamaño de fuente medio */
    font-family:Impact;
    /* Tipo de fuente Tahoma */
}
.Tablita {
    text-align: center; /* Centro el texto */
    color: #5D6D7E; /* Color de texto negro oscuro */
    font-size: 30px; /* Tamaño de fuente medio */
    font-family: Barlow;
    /* Tipo de fuente Tahoma */
}
.Contact {
    margin-bottom: 60px;
    background-color: #FEF5E7;
}
/* site.css */

.imagen-gruesa {
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la relación de aspecto */
    max-width: 100%; /* Asegura que la imagen no supere el ancho del contenedor */
    max-height: 800px; /* Establece una altura máxima para las imágenes */
    display: block; /* Evita espacios en blanco debajo de las imágenes */
    margin-bottom: 50px; /* Agrega un margen inferior para separar las imágenes de la tabla */
}
/* Estilos para la galería */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    gap: 20px; /* Espacio entre las tarjetas de producto */
}

.gallery-item {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

    .gallery-item img {
        max-width: 100%;
        height: auto;
    }
/* Estilos CSS para la clase "mi-imagen" */
.mi-imagen {
    width: 1600px; /* Ancho deseado */
    height: auto; /* Mantén la proporción original */
    border: 5px solid blue; /* Grosor y color del borde */
    max-width: 100%; /* Asegura que la imagen no supere el ancho del contenedor */
    max-height: 500px;
    margin-bottom: 50px;
}
