@page
@model Lingzu.Pages.ContactoModel
@{
    var contactos = new List<Contacto>
    {
        new Contacto
        {
            Nombre = "Brayan Chávez",
            Telefono = "78957526",
            GitHub = "https://github.com/elchavez14",
            CorreoElectronico = "bratyanch14@gmail.com"
        },
        new Contacto
        {
            Nombre = "Bryan Espejo",
            Telefono = "68163993",
            GitHub = "https://github.com/BryanAlexeiEspejo",
            CorreoElectronico = "bryanalexei@gmail.com"
        },
        new Contacto
        {
            Nombre = "José Andrés Paredes Gonzales",
            Telefono = "62411568",
            GitHub = "https://github.com/joseandrespg0310",
            CorreoElectronico = "joseandresparedesgonzales@gmail.com"
        },
        new Contacto
        {
            Nombre = "Daniel Miranda",
            Telefono = "75875587",
            GitHub = "https://github.com/daniel-normal",
            CorreoElectronico = "danimiranda@gmail.com"
        },
        new Contacto
        {
            Nombre = "Gabriel Racua",
            Telefono = "73509124",
            GitHub = "https://github.com/DcGeminis",
            CorreoElectronico = "dcgeminis5685@gmail.com"
        }
    };
}


<body class="Contact">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="img/Nike-P.jpg" class="img-fluid rounded-circle" alt="Imagen">
                <h1 class="TituloContactos mt-3">LISTA DE CONTACTOS</h1>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Teléfono</th>
                            <th>GitHub</th>
                            <th>Correo Electrónico</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var contacto in contactos)
                        {
                            <tr>
                                <td>@contacto.Nombre</td>
                                <td>@contacto.Telefono</td>
                                <td><a href="@contacto.GitHub" target="_blank"><i class="fab fa-github"></i> GitHub</a></td>
                                <td>@contacto.CorreoElectronico</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="img/just.png" class="img-fluid rounded-circle" alt="Imagen">
            </div>
        </div>
    </div>
</body>
