@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" /></svg>
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>NUEVOS LANZAMIENTOS</h1>
                    <p>Disfruta cada paso como si pisaras las nubes.</p>
                    <section class="seccion1">
                        <img src="~/img/nube.jpg" />
                        <img src="~/img/jor.jpg" />
                        <img src="~/img/naranja.jpg" />
                        <img src="~/img/white.jpg" />
                    </section>
                    <a class="btn btn-lg btn-primary" href="#">¡COMPRA YA!</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg  width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" /></svg>
            <div class="container">
                <div class="carousel-caption">
                    <img class="circulo" src="~/img/descuento.png" />
                    <h1>DESCUENTOS POR SEPTIEMBRE</h1>
                    <p>El descuento es por solo un producto en promoción.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">MÁS</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" /></svg>

            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>CAMISETAS</h1>
                    <div id="seccion2">
                        <section class="seccion2">
                            <img src="~/img/camiseta1.jpg" />
                            <img src="~/img/camiseta2.jpg" />
                            <img src="~/img/camiseta3.jpg" />
                            <img src="~/img/camiseta4.jpg" />
                        </section>
                    </div>
                    <p>Las camisetas son un clásico atemporal que nunca pasará de moda.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">¡OBTENLO YA!</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
    </button>
</div>


<div class="container marketing">
    <div class="row">
        <div class="col-lg-4">
            <div class="conter">
                <img class="redondo" id="centro" src="~/img/air-jordan-white.png" />
            </div>     
            <div class="container mt-4">
                <h2>Zapatillas</h2>
                <p>"Consigue los tenis que siempre has querido a un precio asequible.".</p>
                <p><a class="btn btn-secondary" href="#">VER YA &raquo;</a></p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="conter">
                <img class="redondo" id="centro" src="~/img/cap-trend.png" />
            </div>
            <div class="container mt-4">
                <h2>Gorros</h2>
                <p>Los gorros son un accesorio atemporal que nunca pasará de moda.</p>
                <p><a class="btn btn-secondary" href="#">VER YA &raquo;</a></p>
            </div>        
        </div>
        <div class="col-lg-4">
            <div class="conter">
                <img class="redondo" id="centro" src="~/img/plomo.jpg" />

            </div>
            <div class="container mt-4">
                <h2>Camisetas</h2>
                <p>Las camisetas son el complemento perfecto para cualquier outfit.</p>
                <p><a class="btn btn-secondary" href="#">VER YA &raquo;</a></p>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- Agregar la imagen larga horizontal aquí -->
    <div class="container">
        <img src="IMG/ratix.png" alt="Imagen Larga" class="img-fluid">
    </div>

    <!-- Continuar con el contenido debajo de la imagen -->
    <div class="container mt-4">

        <!--TUKI TYUHIJIOKLPÑ`´+-->
        <!-- Galería de productos -->
        <div class="gallery">
            <!-- Producto 1 -->
            <div class="gallery-item">
                <img src="img/uno.png" alt="Producto 1">

                <p>Nike Jordan White.</p>
            </div>

            <!-- Producto 2 -->
            <div class="gallery-item">
                <img src="img/dos.png" alt="Producto 2">

                <p>Nike Vision Low.</p>
            </div>

            <!-- Producto 2 -->
            <div class="gallery-item">
                <img src="img/3.png" alt="Producto 2">

                <p>NIKE SB React Leo.</p>
            </div>
            <!-- Producto 2 -->
            <div class="gallery-item">
                <img src="img/4.png" alt="Producto 2">


            </div>

            <!-- Producto 2 -->
            <div class="gallery-item">
                <img src="img/5.png" alt="Producto 2">
                <p>Nike Dunk Low BY YOU.</p>

            </div>

            <!-- Producto 2 -->
            <div class="gallery-item">
                <img src="img/6.png" alt="Producto 2">
                <p>Nike Tiger.</p>

            </div>
            <!-- Producto 2 -->
            <div class="gallery-item">
                <img src="img/7.png" alt="Producto 2">

                <p>Nike Lunar Force 1.</p>
            </div>
            <!-- Producto 2 -->
            <div class="gallery-item">
                <img src="img/8.png" alt="Producto 2">

                <p>Nike Cactus Jack.</p>
            </div>
            <!-- Producto 2 -->
            <div class="gallery-item">
                <img src="img/9.png" alt="Producto 2">

                <p>Nike "Lake Bled".</p>
            </div>
            <br>
            <br>
            <br>
            <br>
            <hr>
            <br>

            <br>
            <br>


            <!-- Producto 2 -->
            <div class="gallery-item">
                <img src="img/uno.png" alt="Producto 2">

                <p>NIKE AIR Jordan White .</p>
            </div>
            <!-- Producto 2 -->
            <div class="gallery-item">
                <img src="img/11.png" alt="Producto 2">

                <p>Nike Force.</p>
            </div>
            <!-- Producto 2 -->
            <div class="gallery-item">
                <img src="img/12.png" alt="Producto 2">

                <p>NIKE AIR TEN.</p>
            </div>
            <!-- Producto 2 -->
            <div class="gallery-item">
                <img src="img/13ball.png" alt="Producto 2">

                <p>NIKE PREMIER LEAGUE BALL 2023-2024.</p>
            </div>
            <!-- Producto 2 -->
            <div class="gallery-item">
                <img src="img/14p.png" alt="Producto 2">

            </div>
            <!-- Producto 2 -->
            <div class="gallery-item">
                <img src="img/15.png" alt="Producto 2">

                <p>nike FIT GAP .</p>
            </div>
            <!-- Producto 2 -->
            <div class="gallery-item">
                <img src="img/16p.png" alt="Producto 2">

            </div>
            <!-- Producto 2 -->
            <div class="gallery-item">
                <img src="img/19p.png" alt="Producto 2">

            </div>
            <!-- Producto 2 -->
            <div class="gallery-item">
                <img src="img/18.png" alt="Producto 2">

                <p>D2 Sky Blue Kylian Mbappé.</p>
            </div>
            <hr>
            <hr>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette ">
        <div class="container text-center">
            <h2 class="featurette-heading">
                Un regalo.
                <span class="text-muted">Pequeño pero con estilo.</span>
            </h2>
            <p class="lead">Por cada compra llevate un llavero de nuestra tienda.</p>
        </div>      
        <div class="container text-center mt-4">
            <img src="~/img/llavero.png"/>
        </div>
    </div>
    <hr class="featurette-divider">
</div>

<button id="scroll-to-top" class="btn btn-primary" style="display: none; position: fixed; bottom: 20px; right: 20px;">
    <i class="fas fa-arrow-up"></i>
</button>